 * [FILE-LINK Python Developer Distribution VERSION] [DETAILS-LINK (File Details)]
 The *dev* distribution includes everything from the user distribution, but also the source code and compile scripts for the manual.  Not much more, but that might change over time.
----
