 * [FILE-LINK Python User Distribution For Windows VERSION] [DETAILS-LINK (File Details)]
 The *user* distribution is a no-nonsense distribution for Windows that most Windows users will want.
 It contains:
   * Windows install.exe installer program
   * The documentation (PDF)
   * The examples
   * README file to get you started if you don't like manuals
----
